Package: com.henrikssonbrothers.darksaol
Name: DarkSAOL
Version: 0.0.1
Architecture: iphoneos-arm
Description: Dark mode for the SAOL app
Maintainer: Christoffer Wigforss
Author: Christoffer Wigforss
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
